<%-include('adminheader')%>
<style>
    .image-container {
        position: relative;
        display: inline-block; 
        margin-left: 10px;
    }
    .close-icon {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        background-color: red ;
        color: rgb(239, 232, 232);
        border-radius: 50%; 
    padding: 5px; 
    border: 1px solid #ddd; 
   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; 
    height: 20px; 
    }
</style>
<body>
   
    <main class="main-wrap">
        <header class="main-header navbar">
          
            <div class="col-nav ms-auto">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                  
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                   
                    <li class="dropdown nav-item">
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                            class="material-icons md-exit_to_app"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <form action="" method="post" enctype="multipart/form-data" onsubmit="return validateForm(event)" >
            <div class="row">
                <div class="col-6">
                    <div class="content-header">
                        <h2 class="content-title">Edit Product</h2>
                        
                            <button class="btn btn-md rounded font-sm hover-up">Update</button>
                            
                       
                    </div>
                    <%if(message){%>
                        <p class="text-danger"><%=message%></p>
                    <%}%>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                           
                            <div class="row">
                                
                                <div class="col-md-3">
                                    <h6>1. General info</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Product name</label>
                                        <input type="text" placeholder="Type here" name="name" value="<%=pro.name%>" class="form-control">
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Description</label>
                                        <input placeholder="Type here" class="form-control" name="description" value="<%=pro.description%>" rows="4"></input>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Brand name</label>
                                        <input type="text" placeholder="Type here" name="brand" value="<%=pro.brand%>" class="form-control">
                                       
                                    </div>
                                </div> 
                            </div> 
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>2. Pricing</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Cost in Rupee</label>
                                        <input type="text" placeholder="Rs.00.0" name="price" value="<%=pro.price%>" class="form-control">
                                    </div>
                                </div> 
                            </div> 
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>3. Category</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <p> <%=pro.category.name%></p>
                                        <p>update category</p>
                                       <% if(cate.length > 0) {
                                            for(let i=0; i<cate.length; i++) { %>
                                        <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                           <%if(pro.category.name===cate[i].name){%><input class="form-check-input" checked=""  value="<%=cate[i]._id%>" name="category" checked="" type="radio">
                                           <span class="form-check-label"> <%=cate[i].name%> </span>
                                           <%}else{%>
                                            <input class="form-check-input"   value="<%=cate[i]._id%>" name="category" type="radio">
                                            <span class="form-check-label"> <%=cate[i].name%> </span><%}%>
                                        </label>
                                      <%}}%>
                                    </div>
                                </div> 
                            </div> 
                            <hr class="mb-4 mt-0">
                            <div class="row">
                                <div class="col-md-3">
                                    <h6>4. Media</h6>
                                </div>
                                <div class="col-md-9">
                                    <div class="mb-4">
                                        <label class="form-label">Images</label>
                                        <%pro.images.forEach(image => { %>
                                            <div class="image-container">
                                            <img src="../uploads/productImages/<%= image %>" alt="" height="60px" width="60px">
                                            <a href="/admin/edit-pro?id=<%=pro._id%>&delete=<%= image %>" class="close-icon" ><span aria-hidden="true">&times;</span></a>
                                        </div>
                                  <% }) %>
                                        <input class="form-control" type="file" name="images" multiple>
                                        
                                       
                                    </div>
                                </div> 
                           
                            </div> 
                        
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>
        </section> 
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, NYRA.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/js/vendor/select2.min.js"></script>
    <script src="/public/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="/public/assets/js/vendor/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/public/assets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



    <script>
        document.getElementById('images').addEventListener('change', function(e) {
    var fileInput = e.target;
    var maxFiles = 3;
    var validExtensions = ['jpg', 'jpeg', 'png', 'gif','webp']; 

    if (fileInput.files.length > maxFiles) {
        Swal.fire({
            title: 'Error',
            text: `You can only upload a maximum of ${maxFiles} files.`,
            icon: 'error',
            showConfirmButton: true
        }).then(() => {
            fileInput.value = '';
            document.getElementById('file-upload-error').textContent = `You can only upload a maximum of ${maxFiles} files.`;
        });
        return; 
    }

    
    for (var i = 0; i < fileInput.files.length; i++) {
        var file = fileInput.files[i];
        var extension = file.name.split('.').pop().toLowerCase();
        if (!validExtensions.includes(extension)) {
            Swal.fire({
                title: 'Error',
                text: 'Please upload only image files (jpg, jpeg, png, gif).',
                icon: 'error',
                showConfirmButton: true
            }).then(() => {
                fileInput.value = '';
                document.getElementById('file-upload-error').textContent = 'Please upload only image files (jpg, jpeg, png, gif).';
            });
            return; 
        }
    }

    document.getElementById('file-upload-error').textContent = '';
});
document.addEventListener('DOMContentLoaded', function () {
    const nameInput = document.getElementById('name');
    const descriptionInput = document.getElementById('description');
    const brandInput = document.getElementById('brand');
    const priceInput = document.getElementById('price');
    const stockInput = document.getElementById('stock');
  

    nameInput.addEventListener('blur', () => validateInput('name', /^\S.{0,99}$/, 'nameError', 'Product Name'));
    descriptionInput.addEventListener('blur', () => validateInput('description', /^\S.{0,499}$/, 'descriptionError', 'Description'));
    brandInput.addEventListener('blur', () => validateInput('brand', /^[a-zA-Z\s]+$/, 'brandError', 'Brand'));
    priceInput.addEventListener('blur', () => validateInput('price', /^\d+(\.\d{1,2})?$/, 'priceError', 'Price'));
    stockInput.addEventListener('blur', () => validateInput('stock', /^(?:0|[1-9]|[1-9]\d|1\d\d|300)$/, 'stockError', 'stock'));

});

function validateForm() {
    const isValidName = validateInput('name', /^\S.{0,99}$/, 'nameError', 'Product Name');
    const isValidDescription = validateInput('description', /^\S.{0,499}$/, 'descriptionError', 'Description');
    const isValidBrand = validateInput('brand', /^[a-zA-Z\s]+$/, 'brandError', 'Brand');
    const isValidPrice = validateInput('price', /^\d+(\.\d{1,2})?$/, 'priceError', 'Price');
    const isValidStock = validateInput('stock', /^(?:[0-9]|[1-9][0-9]|1[0-9]{2}|2[0-9]{2}|300)$/, 'stockError', 'stock');
  

    if (!isValidName || !isValidDescription || !isValidBrand || !isValidPrice ||isValidStock) {
        document.getElementById('mainError').innerText = 'Cannot submit form. Please fix errors.';
        return false;
    }
    return true;
}

function validateInput(inputId, pattern, errorId, errorMessage) {
    const inputValue = document.getElementById(inputId).value.trim();
    const errorElement = document.getElementById(errorId);

    if (inputValue === '') {
        errorElement.innerText = errorMessage + ' is required.';
        return false;
    } else if (!pattern.test(inputValue)) {
        errorElement.innerText = 'Please enter a valid ' + errorMessage.toLowerCase() + '.';
        return false;
    } else {
        errorElement.innerText = '';
        return true;
    }
}

</script>



</body>


</html>