
<%- include('adminheader') -%> 

        <main class="main-wrap">
            <header class="main-header navbar">
               
                <div class="col-nav ms-auto">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                            class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                     
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                       
                        <li class="dropdown nav-item">
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories </h2>
                        
                    </div>
                    <div>
                        <input type="text" placeholder="Search Categories" class="form-control bg-white">
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <form action="" method="post" >
        <div class="container p-4 form-group">
            
            <h1>Edit category</h1>
            <input type="text" name="name" placeholder="category name" value="<%=cate.name%>" class="form-control mb-2" required>
            <br>
            <br>
            <input type="text" name="description" placeholder="description" value="<%=cate.description%>" class="form-control mb-2" required>
            <br><br>
            <input type="hidden" name="id" value="<%=cate._id%>">
            <br><br>
            <button class="btn btn-success rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2">
                update 
            </button>
            <a class="btn btn-info rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2" href="/admin/adminCategory"> Go Back</a>
            <br><br>
        
           
        </div>
    </form>
   
</div>
</div>
</div> 
</div> 
</div> 
</div> 
</section> 

</main>
<script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/vendor/select2.min.js"></script>
<script src="/public/assets/js/vendor/perfect-scrollbar.js"></script>
<script src="/public/assets/js/vendor/jquery.fullscreen.min.js"></script>

<script src="/public/assets/js/main.js" type="text/javascript"></script>


<%- include('adminfooter') -%>

