<%-include('adminheader')%>
<style>
       .pagination .page-item.active .page-link {
    background-color: pink;
    border-color: pink;
    color: white; /* Change text color to ensure visibility */
}
</style>
<body>

    <main class="main-wrap">
            <header class="main-header navbar">
               
                <div class="col-nav ms-auto">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                            class="material-icons md-apps"></i> </button>
                    <ul class="nav">
                       
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                     
                        <li class="dropdown nav-item">
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                class="material-icons md-exit_to_app"></i>Logout</a>
                        </li>
                    </ul>
                </div>
            </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                 
                </div>
                <div>
                    
                    <a href="/admin/productmanagement" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <table class="table table-hover">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>images</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>offer</th>
                        <th>status</th>
                        <th>Actions</th>
                     
                    </tr>
                    
                    <%
                    if(pro.length > 0) {
                        for(let i=0; i<pro.length; i++) { %>
                            <tr>
                                <td ><%= pro[i].name %></td>
                                <td ><%= pro[i].description %></td>
                                
                                <td >
                                    <%pro[i].images.forEach(image => { %>
                                    <img src="../uploads/productImages/<%=image%>" alt="" height="60px" width="60px">
                                  <% }) %>
                                </td>
                                
                              
    
                                <td><%= pro[i].brand %></td>
                                <td><%= pro[i].category.name %></td>
                                <td><%= pro[i].price %></td>    
                                <td><%= pro[i].countInStock %></td> 
                                                                <% 
                                    var offerDate = new Date(pro[i].offerTime);
                                    var day = offerDate.getDate();
                                    var month = offerDate.getMonth() + 1; 
                                    var year = offerDate.getFullYear();
                                    var formattedDate = year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day; 
                                %>

                                <%if(pro[i].discountPrice>0){%>
                                <td>discount Price :<%= pro[i].discountPrice %><br>offer ends in:<%= formattedDate %> </td>  
                                <%}else{%>
                                    <td>No offer</td>
                                <%}%>
                                <td><%= pro[i].list ? 'Active' : 'InActive' %>
                                    </td> 
                            <td>
                                <a href="/admin/edit-pro?id=<%=pro[i]._id %>" class="btn btn-success">Edit</a>
                                <a href="/admin/delete-pro?id=<%=pro[i]._id %>&action=<%= pro[i].list ? 'InActive' : 'Active' %>" class="btn btn-danger"><%= pro[i].list ? 'InActive' : 'Active' %>
</a>
                                
                             </td>
                            </tr>
                    <%
                        }
                    } else { %>
                        <tr>
                            <td colspan="4">product Not Found</td>
                        </tr>
                    <%
                    }
                    %>
                    
                    
                    </table>
                
              
                 
                   
                </div> 
            </div> 



            <% if (totalPage && page) { %>
                <div class="pagination-area mt-30 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% if (page > 1) { %>
                                <li  class="page-item"><a href="/admin/productlist?page=<%=page-1%>" class="page-link"><i class="ion-ios-skipforward"></i></a></li>
                            <% } %>
                            <% for (let i = Math.max(1, page - 2); i <= Math.min(page + 2, totalPage); i++) { %>
                                <li class="page-item <%= page === i ? 'active' : '' %>"><a href="/admin/productlist?page=<%=i%>" class="page-link"><%=i%></a></li>
                            <% } %>
                            <% if (page < totalPage) { %>
                                <li class="page-item"><a href="/admin/productlist?page=<%=page+1%>" class="page-link"><i class="ion-ios-skipforward"></i></a></li>
                            <% } %>
                        </ul>
                    </nav>
                    </div> 
                <% } %>
            
           
        </section> 
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©,NYRA .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/js/vendor/select2.min.js"></script>
    <script src="/public/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="/public/assets/js/vendor/jquery.fullscreen.min.js"></script>
    
    <script src="/public/assets/js/main.js" type="text/javascript"></script>
</body>
</html>