<%-include('header')-%>

<body>


    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Checkout</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/home">Home</a></li>
                            
                                    <li class="active" aria-current="page">Checkout</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="checkout-section">
        <div class="container">
           
           <% if(typeof error!=='undefined'){ %> 
            <p class="text-danger"><%=error%></p>
            <% } %>
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <form action="" method="post" class="d-flex" id="FormId">
                    <div class="col-lg-6 col-md-6">
                                        
                                    <div class="tab-pane" id="address">
                                        <p>The following addresses will be used on the checkout page otherwise it take home as default address.</p>
                                        <h5 class="billing-address">Address</h5>
                                        <%if(address!==null){if(typeof address!=='undefined'){
                                            for (let i = 0; i < address.addresses.length; i++) {
                                                
                                                
                                            %>
                                        <div class="card">
                                           
                                            <div class="card-body d-flex justify-content-start">
                                                <div><input type="radio" value="<%=address.addresses[i].addressType %>" name="address" id="address" style="width: 20px;" required></div>
                                                <div>   
                                                <p class="text-success"><%=address.addresses[i].addressType %></p>
                                              
                                              <p class="card-text"><%=address.addresses[i].HouseNo%> ,<%=address.addresses[i].Landmark%> ,<%=address.addresses[i].Street%>,<%=address.addresses[i].city%>,<%=address.addresses[i].district%>
                                                <%=address.addresses[i].Country%>,Pincode-<%=address.addresses[i].pincode%></p>
                                              <a href="/address-edit?addressType=<%=address.addresses[i].addressType%>" class="btn btn-primary">Edit</a>
                                            
                                            </div> 
                                            </div>
                                          </div>
                                        <%}%>
                            
                                          <%if(address.addresses.length<3){%>
                               <div class="card">
                                <a href="#" id="editAddressLink" data-bs-toggle="tab" class="nav-link btn btn-block btn-md btn-black-default-hover">
                                    Add Address
                                </a>
                            
                             </div>
                                          <%}}}else{%>
                                            <p>Please Add address</p>
                                            <%}%>
                                            
                                          
                                    </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        
                            <h3>Your order</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%if(typeof cart!=='undefined'){
                                            for (let i = 0; i < cart.items.length; i++) {
                                                %>
                                        <tr>
                                            <td> <%=cart.items[i].productId.name%> <strong> × <%=cart.items[i].quantity%></strong></td>
                                            <td> Rs.<%=cart.items[i].price%>.00</td>
                                        </tr>
                                        <%}%>
                                       
                                    </tbody>
                                    <tfoot>
                                        <!--<tr>
                                            <th>Cart Subtotal</th>
                                            <td>Rs.<%=cart.billTotal%>.00</td>
                                        </tr>
                                        <tr>
                                            <th>Shipping</th>
                                            <td><strong>$5.00</strong></td>
                                        </tr>-->
                                        <tr class="order_total">
                                            <th>Order Total</th>
                                            <td><strong>Rs.<%=cart.billTotal%>.00</strong></td>
                                        </tr>
                                       
                                    </tfoot>
                                </table>
                            </div>
                            <div class="payment_method">
                                
                                <div class="panel-default">
                                    <%if(cart.billTotal>1000){%>
                                    <label class="radio-default d-flex"  for="COD" data-bs-toggle="collapse" data-bs-target="#methodCod">
                                    <input type="radio" style="width: 15px;" name="paymentOption" id="COD" value="COD" required>
                                    &nbsp;<span>Cash on Delivery (COD)</span>
                                    </label>
                                 
                                    <%}else{%>
                                        <label class="radio-default d-flex"  for="COD" >
                                    <span class="text-warning">Cash on delivery is not available for this order. Please add more items for the option to become available</span>
                                    </label>
                                    <%}}%>
                                   
                                <label class="radio-default d-flex">
                                <input type="radio" name="paymentOption" style="width: 15px;" id="razorpay" value="razorpay" required>
                                &nbsp;<span>Online Payment</span>
                                    </label>
                                    <label class="radio-default d-flex">
                                <input type="radio" name="paymentOption" style="width: 15px;" id="wallet" value="wallet" required>
                                &nbsp;<span>wallet</span>
                                    </label>


                                    <div id="methodCod" class="collapse" data-parent="#methodCod">
                                        <div class="card-body1">
                                            <p>we take default option as COD. We also accept Credit/Debit cards on delivery, subject to availability of the payment device. Please check with the delivery agent.</p>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="order_button pt-3">
                                    <button class="btn btn-md btn-black-default-hover" id="proceedButton" type="button">place Order</button>
                                </div>
                            </div>
                        
                </div>
            </form>

            
            </div> 
        </div>
    </div>
    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">

            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
              
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="/myorder">Delivery Information</a></li>

                                    <li><a href="/contact-us">Contact</a></li>
                                    <li><a href="/myorder">Returns</a></li>
                                </ul>
                            </div>
                           
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="/userAc">My account</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>

                                    <li><a href="/myorder">Order History</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="/shop?category=face">Face</a></li>
                                    <li><a href="/shop?category=hair">Hair</a></li>
                                    <li><a href="/shop?category=body">Body</a></li>
                                   
                                </ul>
                            </div>
                          
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p class="text-light">We are a team of  enterpreneurs that create high quality products.</p>

                                    <address class="address">
                                        <span class="text-light">Address: NYRA,NYRA bulding ,mumbai-707865 90785643432.</span>
                                        <span class="text-light">Email: nyra@gmail.com</span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-12  mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
          
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text text-light">&copy; 2024 <a href="index.html">NYRA</a>.

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </footer>

  
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="/public/assets/js/vendor/vendor.min.js"></script>
    <script src="/public/assets/js/plugins/plugins.min.js"></script>
    <script src="/public/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        const proceedButton = document.getElementById('proceedButton');
proceedButton.addEventListener("click", async () => {
    const selectedAddressType = document.querySelector('input[name="address"]:checked');
    const selectedPaymentOption = document.querySelector('input[name="paymentOption"]:checked');

    if (!selectedAddressType || !selectedPaymentOption) {
        Swal.fire({
  title: 'Attention!',
  text: 'Please select both an address type and a payment option.',
  icon: 'warning',
  confirmButtonText: 'OK'
    });
 return;
    }

    const addressType = selectedAddressType.value;
    const paymentOption = selectedPaymentOption.value;
  

    const data = {
        addressType: addressType,
        paymentOption: paymentOption,
        
    };
    if(paymentOption==='razorpay')
{
    try {
        const response = await fetch('/checkout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
               
                const options = {
                    key: "rzp_test_2sQVid1X3uLewM",
                    amount: data.order.amount,
                    currency: "INR",
                    name: "NYRA",
                    description: "Payment for Your Order",
                    order_id: data.order.id,
                    handler: function (response){
       
        const paymentData = {
            razorpay_payment_id: response.razorpay_payment_id,
            razorpay_order_id: data.order.id,
            razorpay_signature: response.razorpay_signature,
            address:addressType
          };
          fetch('/orderOnlinePayment', {
        method: 'POST',
         headers: {
            'Content-Type': 'application/json',
            },
            body: JSON.stringify(paymentData),
                })
            .then(response => response.json()) 
            .then(data => {
            if (data.success) {
            console.log("Order created successfully:", data.message);

            window.location.href = "/orderConfirmation?orderId=" + data.orderId;
  } else {
 
    console.error("Error in order creation:", data.error || "Unknown error");

  }
    })
    .catch(error => {
  console.error('Error processing payment:', error);

    });

    },
                    prefill: {
                        name: "NYRA",
                        email: "nyra@gmail.com",
                        contact: "9078654312"
                    },
                    notes: {
                        address: "Razorpay Corporate Office"
                    },
                    theme: {
                        color: "#3399cc"
                    }
                };
                const rzp = new Razorpay(options);
                rzp.on('payment.failed', function (response){
    const paymentFailureData = {
        razorpay_payment_id: response.razorpay_payment_id,
        razorpay_order_id: response.razorpay_order_id,
        razorpay_signature: response.razorpay_signature,
        address:addressType
    };

    fetch('/failedPayment', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(paymentFailureData),
    })
    .then(response => response.json()) 
    .then(data => {
        if (data.success) {
            console.log("Payment failure logged successfully");
            window.location.href = "/orderConfirmation?orderId=" + data.orderId;
        } else {
            console.error("Failed to log payment failure");
           
        }
    })
    .catch(error => console.error('Error logging payment failure:', error));
});


                rzp.open();
            }else{
                Swal.fire({
            title: 'Out of Stock!',
            text: 'This product is currently out of stock.',
            icon: 'warning',
            confirmButtonText: 'OK'
        });
            }})
    } catch (error) {
        console.error("Error during checkout:", error);
        alert("An error occurred during checkout. Please try again later.");
    }
}

    else if(paymentOption==='COD') 
    {
    const response = await fetch('/checkout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    });

    if (response.ok) {
        const responseData = await response.json();
        if (responseData.success) {
            window.location.href = "/orderConfirmation?orderId=" + responseData.orderId;
        } else {
          
            console.log("Checkout failed:", responseData.error);
        }
    } else {
       
        Swal.fire({
            title: 'Out of Stock!',
            text: 'This product is currently out of stock.',
            icon: 'warning',
            confirmButtonText: 'OK'
        });
    }
    }
    else{
    const response = await fetch('/checkout', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    });

    if (response.ok) {
        const responseData = await response.json();
        if (responseData.success) {
            window.location.href = "/orderConfirmation?orderId=" + responseData.orderId;
        } else {
      
        }
    }
    else if(response.status===400){
        Swal.fire({
  title: 'Attention!',
  text: 'Insufficient wallet balance',
  icon: 'warning',
  confirmButtonText: 'OK'
    });
    } else {
       
        Swal.fire({
            title: 'Out of Stock!',
            text: 'This product is currently out of stock.',
            icon: 'warning',
            confirmButtonText: 'OK'
        });
    }
}

});

 </script>


<%-include('footer')%>