<%-include('header')%>
   
        <div class="container">
            <div class="row">
                
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        
                            <h2>Edit address</h2>
                            
                        
                       
                        <form action="" method="post" onsubmit="return validateForm(event)">
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="default-form-box">
                                        <br>
            
                                        <%if(typeof error!=='undefined'){%>
                                            <p class="text-danger"><%=error%></p>
                                            <%}%>
                                        
                                        <%if(typeof address!=='undefined'){%>
                                        <label class="mb-2 form-check form-check-inline" style="width: 45%;">
                                           <h6 class="text-success">Address Type: <%=address.addressType%></h6>
                                        <input type="hidden" name="addressType" value="<%=address.addressType%>">
                                        </label>
                                       
                                       
                                        <div id="addressTypeError" class="text-danger"></div>
                                        <label>House number</label>
                                        <input type="text" id="houseNo" name="houseNo" value="<%=address.HouseNo%>" placeholder="eg:123">
                                        <div id="housenoError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Street</label>
                                        <input type="text" id="street" name="street" value="<%=address.Street%>">
                                        <div id="streetError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>Landmark</label>
                                        <input type="text" id="landmark" name="landmark" value="<%=address.Landmark%>">
                                        <div id="landmarkError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>pincode</label>
                                        <input type="text" id="pincode" name="pincode" value="<%=address.pincode%>">
                                        <div id="pincodeError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>city </label>
                                        <input type="text" id="city" name="city" value="<%=address.city%>">
                                        <div id="cityError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>District</label>
                                        <input type="text" id="district"  name="district" value="<%=address.district%>">
                                        <div id="districtError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label>State </label>
                                        <input type="text" id="state" name="state" value="<%=address.State%>">
                                        <div id="stateError" class="text-danger"></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <label for="country">country </label>
                                        <input type="text" id="country" name="country" value="<%=address.Country%>">
                                        <div id="countryError" class="text-danger"></div>
                                      
                                    </div>
                                </div>
                                <%}%>
                                <div class="col-12">
                                    <div class="default-form-box">
                                        <div id="main-error" class="text-danger"></div>
                                        <button type="submit" class="btn btn-success">Save</button>
                                        <a  href="/userAc" class="btn btn-primary">Back</a>
                                    </div>
                                </div>
                                   
                               
                            </div>
                        </form>
                    </div>
                    
                   
                </div>
            </div> 
        </div>
    </div>

   
    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">

            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
              
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="/myorder">Delivery Information</a></li>

                                    <li><a href="/contact-us">Contact</a></li>
                                    <li><a href="/myorder">Returns</a></li>
                                </ul>
                            </div>
                           
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="/userAc">My account</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>

                                    <li><a href="/myorder">Order History</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="/shop?category=face">Face</a></li>
                                    <li><a href="/shop?category=hair">Hair</a></li>
                                    <li><a href="/shop?category=body">Body</a></li>
                                   
                                </ul>
                            </div>
                          
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p class="text-light">We are a team of  enterpreneurs that create high quality products.</p>

                                    <address class="address">
                                        <span class="text-light">Address: NYRA,NYRA bulding ,mumbai-707865 90785643432.</span>
                                        <span class="text-light">Email: nyra@gmail.com</span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-12  mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
          
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text text-light">&copy; 2024 <a href="/home">NYRA</a>.

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </footer>

   
    <script src="/public/assets/js/vendor/vendor.min.js"></script>
    <script src="/public/assets/js/plugins/plugins.min.js"></script>

  
    <script src="/public/assets/js/main.js"></script>

    <script>
        function getElementValue(id) {
    const element = document.getElementById(id);
    return element.value;
}

function validateInput(inputId, pattern, errorId, errorMessage) {
    const inputValue = getElementValue(inputId);
    const errorElement = document.getElementById(errorId);

    if (inputValue.trim() === '') {
        errorElement.innerText = errorMessage + ' is required.';
        return false;
    } else if (pattern && !pattern.test(inputValue)) {
        errorElement.innerText = 'Please enter a valid ' + errorMessage.toLowerCase() + '.';
        return false;
    } else {
        errorElement.innerText = '';
        return true;
    }
}

document.addEventListener('DOMContentLoaded', function () {
    const houseNoInput = document.getElementById('houseNo');
    const streetInput = document.getElementById('street');
    const landmarkInput = document.getElementById('landmark');
    const pincodeInput = document.getElementById('pincode');
    const cityInput = document.getElementById('city');
    const districtInput = document.getElementById('district');
    const stateInput = document.getElementById('state');
    const countryInput = document.getElementById('country');

    houseNoInput.addEventListener('blur', () => validateInput('houseNo', /^\d{3}$/, 'housenoError', 'House Number'));
    streetInput.addEventListener('blur', () => validateInput('street', /^[a-zA-Z0-9!@#$%^&*()-_+=\[\]{};:'",.<>?]+$/, 'streetError', 'Street'));
    landmarkInput.addEventListener('blur', () => validateInput('landmark', null, 'landmarkError', 'Landmark'));
    pincodeInput.addEventListener('blur', () => validateInput('pincode', /^\d{6}$/, 'pincodeError', 'Pincode (6 digits)'));
    cityInput.addEventListener('blur', () => validateInput('city', /^[a-zA-Z\s]+$/, 'cityError', 'City'));
    districtInput.addEventListener('blur', () => validateInput('district', /^[a-zA-Z\s]+$/, 'districtError', 'District'));
    stateInput.addEventListener('blur', () => validateInput('state', /^[a-zA-Z\s]+$/, 'stateError', 'State'));
    countryInput.addEventListener('blur', () => validateInput('country', /^[a-zA-Z\s]+$/, 'countryError', 'Country'));
});

function validateForm(event) {
    const isValidHouseNo = validateInput('houseNo', /^\d{3}$/, 'housenoError', 'House Number');
    const isValidStreet = validateInput('street', /^[a-zA-Z0-9!@#$%^&*()-_+=\[\]{};:'",.<>?]+$/, 'streetError', 'Street');
    const isValidLandmark = validateInput('landmark', null, 'landmarkError', 'Landmark');
    const isValidPincode = validateInput('pincode', /^[1-9][0-9]{5}(?:\s[0-9]{3})?$/, 'pincodeError', 'Pincode (6 digits)');
    const isValidCity = validateInput('city', /^[a-zA-Z\s]+$/, 'cityError', 'City');
    const isValidDistrict = validateInput('district', /^[a-zA-Z\s]+$/, 'districtError', 'District');
    const isValidState = validateInput('state', /^[a-zA-Z\s]+$/, 'stateError', 'State');
    const isValidCountry = validateInput('country', /^[a-zA-Z\s]+$/, 'countryError', 'Country');

    if (!isValidHouseNo || !isValidStreet || !isValidLandmark || !isValidPincode || !isValidCity || !isValidDistrict || !isValidState || !isValidCountry) {
       event.preventDefault();
        document.getElementById('mainError').innerText = 'Cannot submit form. Please fix errors.';
        return false;
    }
    return true;
}

    </script>
    

</body>


</html>