<%- include('header')-%>
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
 
.one {
    color: rgb(255, 0, 0);
}
 
.two {
    color: rgb(255, 106, 0);
}
 
.three {
    color: rgb(251, 255, 120);
}
 
.four {
    color: rgb(255, 255, 0);
}
 
.five {
    color: rgb(24, 159, 14);
}
 
textarea {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
button:hover {
    background-color: #0056b3;
}
 
.reviews {
    margin-top: 20px;
    text-align: left;
}
 
.review {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
}
 
.review p {
    margin: 0;
}

.card{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;min-width: 0;word-wrap: break-word;background-color: #fff;background-clip: border-box;border: 1px solid rgba(0, 0, 0, 0.1);border-radius: 0.10rem}.card-header:first-child{border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0}.card-header{padding: 0.75rem 1.25rem;margin-bottom: 0;background-color: #fff;border-bottom: 1px solid rgba(0, 0, 0, 0.1)}.track{position: relative;background-color: #ddd;height: 7px;display: -webkit-box;display: -ms-flexbox;display: flex;margin-bottom: 60px;margin-top: 50px}.track .step{-webkit-box-flex: 1;-ms-flex-positive: 1;flex-grow: 1;width: 25%;margin-top: -18px;text-align: center;position: relative}.track .step.active:before{background: #FF5722}.track .step::before{height: 7px;position: absolute;content: "";width: 100%;left: 0;top: 18px}.track .step.active .icon{background: #ee5435;color: #fff}.track .icon{display: inline-block;width: 40px;height: 40px;line-height: 40px;position: relative;border-radius: 100%;background: #ddd}.track .step.active .text{font-weight: 400;color: #000}.track .text{display: block;margin-top: 7px}.itemside{position: relative;display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%}.itemside .aside{position: relative;-ms-flex-negative: 0;flex-shrink: 0}.img-sm{width: 80px;height: 80px;padding: 7px}ul.row, ul.row-sm{list-style: none;padding: 0}.itemside .info{padding-left: 15px;padding-right: 7px}.itemside .title{display: block;margin-bottom: 5px;color: #212529}p{margin-top: 0;margin-bottom: 1rem}.btn-warning{color: #ffffff;background-color: #ee5435;border-color: #ee5435;border-radius: 1px}.btn-warning:hover{color: #ffffff;background-color: #ff2b00;border-color: #ff2b00;border-radius: 1px}
</style>


    <div class="container" style="margin-top:50px;margin-bottom: 50px">
        <article class="card">
            <header class="card-header">Order details </header>
            <div class="card-body">
                <% if(typeof order!=='undefined'){ %>
                <h6>Order ID:<%=order.oId%></h6>
                <br>
                <h6>Order Date:<%= new Date(order.orderDate).toLocaleDateString()  %></h6>
                <%if(order.paymentStatus==='Pending'){%>
                    <p class="text-danger">Payment : Pending</p>
                    <form action="" method="post">
                    <label class="radio-default d-flex">
                        <input type="radio" name="paymentOption" style="width: 15px;" id="razorpay" value="razorpay" required>
                            <span>Online Payment</span>
                            </label>
                           <input type="hidden" id="id" value="<%=order.oId%>">
                            <div class="order_button pt-3">
                                <button class="btn btn-md btn-black-default-hover" id="proceedButton" type="button">continue to payment</button>
                            </div>
                            </form>
                            <br>
                <%}%>
                <article class="card">
                    <div class="card-body row">
                        <div class="col"> <strong>Estimated Delivery time:</strong> <br><% 
                            var orderDate = new Date(order.orderDate);
                            orderDate.setDate(orderDate.getDate() + 7);
                            var modifiedDate = orderDate.toLocaleDateString();
                            %> <%=modifiedDate %></div>
                        <div class="col"> <strong>Shipping BY:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                        <div class="col"> <strong>Status:</strong> <br><%=order.status%></div>
                        <div class="col"> <strong>Tracking #:</strong> <br> <%=order.oId%> </div>
                    </div>
                </article>
                <%if(order.status === 'Canceled'){%>
                    <div class="track">
                        <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                        <div class="step active"> </div>
                        <div class="step active"> </div>
                        <div class="step active"> <span class="icon"> <i class="fa-regular fa-rectangle-xmark"></i> </span> <span class="text">cancelled</span> </div>
                    </div>
                <%}else{%>
                <div class="track">
                    <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order confirmed</span> </div>
                    <div class="step <%=  order.status === 'Processing' || order.status === 'Shipped' || order.status === 'Delivered' ? 'active' : '' %>"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> Picked by courier</span> </div>
                    <div class="step <%=  order.status === 'Shipped' || order.status === 'Delivered' ? 'active' : '' %>"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> shipped</span> </div>
                    <div class="step <%= order.status === 'Delivered' ? 'active' : '' %>"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Delivered</span> </div>
                </div>
            <%}%>
              <br>

                <div>
                    
                   <h6>Address:</h6>
                   <%if(order.status==='Pending'){%>
                        <p class="text-success "><%=order.deliveryAddress.addressType%></p>
                      <p class="card-text"><%=order.deliveryAddress.HouseNo%> ,<%=order.deliveryAddress.Landmark%> ,<%=order.deliveryAddress.Street%>,<%=order.deliveryAddress.city%>,<%=order.deliveryAddress.district%>
                        <%=order.deliveryAddress.Country%>,Pincode-<%=order.deliveryAddress.pincode%></p>
                      <a href="/address-edit?addressType=<%=order.deliveryAddress.addressType%>" class="btn btn-primary">Edit</a>
                      <%}else{%>
                        <p class="text-success "><%=order.deliveryAddress.addressType%></p>
                      <p class="card-text"><%=order.deliveryAddress.HouseNo%> ,<%=order.deliveryAddress.Landmark%> ,<%=order.deliveryAddress.Street%>,<%=order.deliveryAddress.city%>,<%=order.deliveryAddress.district%>
                        <%=order.deliveryAddress.Country%>,Pincode-<%=order.deliveryAddress.pincode%></p>
                      <%}%>
                </div>
                <hr>
                <ul class="row">
                    <%order.items.forEach((item)=>{%>
                    <li class="col-md">
                        <figure class="itemside mb-3">
                            <div class="aside"><img src="/uploads/productImages/<%=item.image%>" class="img-sm border"></div>
                            <figcaption class="info align-self-center">
                                <p class="title"><%=item.name %> <br> Qty:<%=item.quantity %></p> <span class="text-muted">Rs.<%=item.price %>.00 </span>
                                <%if(order.status === 'Delivered' && order.items.reviewed ){%>
                                    <div class="container" id="reviewrating" style=" background-color: white;
                                    padding: 20px;
                                    border-radius: 8px;
                                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                                    text-align: center;
                                    width: 400px;">
                                        <h5 class="bold">Rate and support us</h5>
                                        <div class="rating">
                                            <span id="rating">0</span>/5
                                        </div>
                                        <div class="stars" style="font-size: 30px;
                                        margin: 10px 0;" id="stars">
                                            <span class="star" style="cursor: pointer;
                                            margin: 0 5px;" data-value="1">★</span>
                                            <span class="star" style="cursor: pointer;
                                            margin: 0 5px;" data-value="2">★</span>
                                            <span class="star" style="cursor: pointer;
                                            margin: 0 5px;" data-value="3">★</span>
                                            <span class="star" style="cursor: pointer;
                                            margin: 0 5px;" data-value="4">★</span>
                                            <span class="star" style="cursor: pointer;
                                            margin: 0 5px;" data-value="5">★</span>
                                        </div>
                                        <p>Share your review:</p>
                                        <input id="review" class="form-control"
                                                  placeholder="Write your review here">
                                    </input>
                                    <br>
                                        <button id="submitreview" onclick="reviewUpdate('<%=item.productId %>','<%=order._id%>')">Submit</button>
                                        <div class="reviews" id="reviews">
                                        </div>
                                    </div>
                                    <%}%>
                                       
                            </figcaption>
                        </figure>
                    </li>
               <%})%>
                </ul>
                
                <hr>
                <a  href="/pdf?id=<%=order._id%>" download="Invoice.pdf">Download Invoice</a>
                <a href="/myorder" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
            </div>
            <%}%>
        </article>
    </div>

    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">

            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
              
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="/myorder">Delivery Information</a></li>

                                    <li><a href="/contact-us">Contact</a></li>
                                    <li><a href="/myorder">Returns</a></li>
                                </ul>
                            </div>
                           
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="/userAc">My account</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>

                                    <li><a href="/myorder">Order History</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="/shop?category=face">Face</a></li>
                                    <li><a href="/shop?category=hair">Hair</a></li>
                                    <li><a href="/shop?category=body">Body</a></li>
                                   
                                </ul>
                            </div>
                          
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p class="text-light">We are a team of  enterpreneurs that create high quality products.</p>

                                    <address class="address">
                                        <span class="text-light">Address: NYRA,NYRA bulding ,mumbai-707865 90785643432.</span>
                                        <span class="text-light">Email: nyra@gmail.com</span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-12  mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
          
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text text-light">&copy; 2024 <a href="index.html">NYRA</a>.

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </footer>
        <script src="/public/assets/js/vendor/vendor.min.js"></script>
        <script src="/public/assets/js/plugins/plugins.min.js"></script>
    
        <!-- Main JS -->
        <script src="/public/assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/easyinvoice/dist/easyinvoice.min.js"></script>
    
       <script>




        function cancelOrder(oId) {
            swal.fire({
    title: 'Reason for Cancellation:',
    input: 'text',
    showCancelButton: true,
    confirmButtonText: 'Submit',
    cancelButtonText: 'Cancel',
    inputValidator: (value) => {
      if (!value) {
        return 'Please enter something!';
      }
    }
  }).then((result) => {
        if (result.isConfirmed) {
            const reason = result.value;
            fetch('/myorder', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    oId,
                    reason
                })
            })
            .then((response) => {
                
    if (response.ok) {
      
  
        
        return response.json();
    } else {
        throw new Error('Network response was not ok.');
    }
})


            .catch((error) => {
               
                
                console.error('Fetch Error:', error);
            });
        }
    });
}
const stars = document.querySelectorAll(".star");
const rating = document.getElementById("rating");
const reviewText = document.getElementById("review");
const submitBtn = document.getElementById("submitreview");
const reviewsContainer = document.getElementById("reviews");
 
stars.forEach((star) => {
    star.addEventListener("click", () => {
        const value = parseInt(star.getAttribute("data-value"));
        rating.innerText = value;
 
        // Remove all existing classes from stars
        stars.forEach((s) => s.classList.remove("one", 
                                                "two", 
                                                "three", 
                                                "four", 
                                                "five"));
 
        stars.forEach((s, index) => {
            if (index < value) {
                s.classList.add(getStarColorClass(value));
            }
        });
 
        stars.forEach((s) => s.classList.remove("selected"));
  
        star.classList.add("selected");
    });
});
 

 
function getStarColorClass(value) {
    switch (value) {
        case 1:
            return "one";
        case 2:
            return "two";
        case 3:
            return "three";
        case 4:
            return "four";
        case 5:
            return "five";
        default:
            return "";
    }
}

function reviewUpdate(id,oId) {
    const review = reviewText.value; 
    const userRating = parseInt(rating.innerText); 
   


    if (!userRating || !review) {
        alert(
"Please select a rating and provide a review before submitting."
             );
        return;
    }
 
   

    fetch('/reviewUpdate', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ id, review, userRating,oId }) 
    })
    .then(response => {
        if (response.ok) {
        const container = document.getElementById('reviewrating');
        container.innerHTML = `<p><strong>Rating: ${userRating}/5</strong></p><p>${review}</p>`;
        
      
        const reviewElement = document.createElement('div');
        reviewElement.innerHTML = `<p><strong>Rating: ${userRating}/5</strong></p><p>${review}</p>`;
        
      
        const reviewsContainer = document.getElementById('reviewsContainer');
        reviewsContainer.appendChild(reviewElement);

        reviewText.value = "";
        rating.innerText = "0";
        stars.forEach((s) => s.classList.remove("one", "two", "three", "four", "five", "selected"));
    } else {
        console.error('Error updating review:', response.statusText);
    }
    })
    .catch(error => {
        console.error('Error updating review:', error);
  
    });
}


// Frontend Code
const proceedButton = document.getElementById('proceedButton');
proceedButton.addEventListener("click", async () => {
    const selectedPaymentOption = document.querySelector('input[name="paymentOption"]:checked');

    if (!selectedPaymentOption) {
        Swal.fire({
            title: 'Attention!',
            text: 'Please select a payment option.',
            icon: 'warning',
            confirmButtonText: 'OK'
        });
        return;
    }

    const id = document.getElementById('id').value;

    const data = { id };

    try {
        const response = await fetch('/retryPayment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        const responseData = await response.json();

        if (responseData.success) {
            const options = {
                key: "rzp_test_2sQVid1X3uLewM",
                amount: responseData.order.amount,
                currency: "INR",
                name: "NYRA",
                description: "Payment for Your Order",
                order_id: responseData.order.id,
                handler: function (response) {
                    const paymentData = {
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_order_id: responseData.order.id,
                        razorpay_signature: response.razorpay_signature,
                        id: id
                    };

                    fetch('/orderOnline', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(paymentData),
                    })
                    .then(response => response.json()) 
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                title: 'Success',
                                text: 'Order successfully placed',
                                icon: 'success',
                                confirmButtonText: 'OK'
                            });
                            window.location.reload()
                        } else {
                            console.error("Error in order creation:", data.error || "Unknown error");
                        }
                    })
                    .catch(error => {
                        console.error('Error processing payment:', error);
                    });
                },
                // Other options...
            };

            const rzp = new Razorpay(options);
            rzp.on('payment.failed', function (response){
                alert("Payment Failed");
            });
            rzp.open();
        } else {
            console.error("Error in initiating payment:", responseData.error || "Unknown error");
        }
    } catch (error) {
        console.error("Error during checkout:", error);
        alert("An error occurred during checkout. Please try again later.");
    }
});


       </script>
       </body>
</html>
