<%-include('header')-%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<style>
    .badge.shade-yellow {
       background-color: #FFD700;
  
       color: #000;
  
       border: 1px solid #FFD700;
       padding: 5px 10px;
       border-radius: 5px;
    }
 
    .badge.shade-grey {
       background-color: #808080;
      
       color: #FFF;
      
       border: 1px solid #808080;
       padding: 5px 10px;
       border-radius: 5px;
    }
 
    .badge.shade-green {
       background-color: #008000;
      
       color: #FFF;
      
       border: 1px solid #008000;
       padding: 5px 10px;
       border-radius: 5px;
    }
 
    .badge.shade-blue {
       background-color: #0000FF;
       
       color: #FFF;
     
       border: 1px solid #0000FF;
       padding: 5px 10px;
       border-radius: 5px;
    }
 
    .badge.shade-red {
       background-color: #FF0000;
      color: #FFF;
       
       border: 1px solid #FF0000;
       padding: 5px 10px;
       border-radius: 5px;
    }
 
    .badge.shade-orange {
       background-color: #ff6b26;
      
       color: #FFF;
      
       border: 1px solid #ff6b26;
       padding: 5px 10px;
       border-radius: 5px;
    }
 </style>
<body>


    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Order details</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="#">order</a></li>
                                 
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    
    <% if(typeof order !== 'undefined') { %>
        <div>
            <h4>Order details</h4>
            <div class="table_page table-responsive">
                <table class="table">
                    <tbody>
                        <% for (let j = 0; j < order.length; j++) { %>
                            <tr>
                                <th>
                                    <p>Sl no.<%= j+1 %></p>
                                    <p>Order Id: <%= order[j].oId %><br>Date of order: <%= new Date(order[j].orderDate).toLocaleDateString() %></p>
                                </th>
                            </tr>
                            <tr>
                                <td>Image</td>
                                <td>Product name</td>
                                <td>Quantity</td>
                                <td>Price</td>
                            </tr>
                            <% for (let i = 0; i < order[j].items.length; i++) { %>
                                <tr>
                                    <td class="product_thumb">
                                        <a href="/productdetails?id=<%= order[j].items[i].productId %>">
                                            <img src="uploads/productImages/<%= order[j].items[i].image %>" alt="" style="width: 60px;">
                                        </a>
                                    </td>
                                    <td class="product_name">
                                        <a href="/productdetails?id=<%= order[j].items[i].productId %>"><%= order[j].items[i].name %></a>
                                    </td>
                                    <td>
                                        <div class="detail-qty radius m-auto">
                                            <span class="qty-val me-3" id="qty-<%= order[j].items[i]._id %>"><%= order[j].items[i].quantity %></span>
                                        </div>
                                    </td>
                                    <td class="product_total">Rs.<%= order[j].items[i].price %>.00</td>
                                </tr>
                            <% } %>
                            <tr>
                                <td>Mode of payment: <%= order[j].paymentMethod %></td>
                                <% const statusColors = {
                                    "Pending": "yellow",
                                    "Processing": "grey",
                                    "Shipped": "blue",
                                    "Delivered": "green",
                                    "Canceled": "red",
                                    "Returned": "orange"
                                }; %>
                                <td><span class="badge shade-<%= statusColors[order[j].status] %>"><%= order[j].status %></span></td>
                                <td>Bill Amount: Rs.<%= order[j].billTotal %>.00
                                <%if(order[j].paymentStatus==="Pending"){%>
                                    <p class="text-danger">Payment : <%=order[j].paymentStatus%></p>
                                <%}%>
                                </td>
                                <td>
                                    <% if(order[j].status === 'Pending'&& order[j].requests.length===0) { %>
                                        <form action="" method="post">
                                            <a href="/orderDetails?oId=<%= order[j].oId %>" class="btn btn-outline-primary mb-1" style="width: 190px;">View order details</a>
                                            <br>
                                            <a class="btn btn-outline-danger mb-1" onclick="cancelOrder('<%= order[j].oId %>')" data-order-id="<%= order[j].oId %>" style="width: 190px;">Cancel Order</a>
                                        </form>
                                        
                                    <% } else if(order[j].status === 'Delivered') { %>
                                        <a href="/orderDetails?oId=<%= order[j].oId %>" class="btn btn-outline-primary mb-1" style="width: 190px;">View order details</a>
                                        <%if(order[j].requests.length>0 && order[j].requests[0].type==='Return'){%>
                                            <a class="btn btn-outline-danger mb-1" style="width: 190px;" onclick="statusReturn('<%= order[j].requests[0].status %>')" >click here to see the status</a>
                                       <% }else{%>
                                        <a class="btn btn-outline-danger mb-1" onclick="requestReturn('<%= order[j].oId %>')"  style="width: 190px;">Request return</a>
                                    <%} } else { %>
                                        <a href="/orderDetails?oId=<%= order[j].oId %>" class="btn btn-outline-primary" style="width: 190px;">View order details</a>
                                    <% } if(order[j].requests.length>0){if(order[j].requests[0].type==='Cancel'){
                                        if( order[j].requests[0].status==='Pending'){%>
                                        <p>cancel Requested</p><% }
                                    else if(order[j].requests[0].status==='Accepted'){%>
                                        <p>Cancel Request accepted </p>
                                        <p>Refund initiated! check your wallet</p>
                                    <%}
                                else{%>
                                    <p> Cancel request Rejected</p>
                                <%}}} %>
                                    
                                </td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

                    <% if (totalPage && page) { %>
                    <div class="page-pagination text-center" data-aos="fade-up" data-aos-delay="0">
                        <ul>
                            <% if (page > 1) { %>
                                <li><a href="/myorder?page=<%=page-1%>"><i class="ion-ios-skipforward"></i></a></li>
                            <% } %>
                            <% for (let i = Math.max(1, page - 2); i <= Math.min(page + 2, totalPage); i++) { %>
                                <li><a href="/myorder?page=<%=i%>"><%=i%></a></li>
                            <% } %>
                            <% if (page < totalPage) { %>
                                <li><a href="/myorder?page=<%=page+1%>"><i class="ion-ios-skipforward"></i></a></li>
                            <% } %>
                        </ul>
                    </div> 
                <% } %>
        </div>
    <% } %>
    
        
    
    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">

            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
              
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="/myorder">Delivery Information</a></li>

                                    <li><a href="/contact-us">Contact</a></li>
                                    <li><a href="/myorder">Returns</a></li>
                                </ul>
                            </div>
                           
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="/userAc">My account</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>

                                    <li><a href="/myorder">Order History</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="/shop?category=face">Face</a></li>
                                    <li><a href="/shop?category=hair">Hair</a></li>
                                    <li><a href="/shop?category=body">Body</a></li>
                                   
                                </ul>
                            </div>
                          
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p class="text-light">We are a team of  enterpreneurs that create high quality products.</p>

                                    <address class="address">
                                        <span class="text-light">Address: NYRA,NYRA bulding ,mumbai-707865 90785643432.</span>
                                        <span class="text-light">Email: nyra@gmail.com</span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-12  mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
          
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text text-light">&copy; 2024 <a href="index.html">NYRA</a>.

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </footer>
    
        <script src="/public/assets/js/vendor/vendor.min.js"></script>
        <script src="/public/assets/js/plugins/plugins.min.js"></script>
    
     
        <script src="/public/assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
       <script>




function cancelOrder(oId) {
    swal.fire({
        title: 'Reason for Cancellation:',
        input: 'text',
        showCancelButton: true,
        confirmButtonText: 'Submit',
        cancelButtonText: 'Cancel',
        inputValidator: (value) => {
            if (!value) {
                return 'Please enter something!';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            const reason = result.value;
            fetch('/myorder', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    oId,
                    reason
                })
            })
            .then((response) => {
                if (response.ok) {
                    swal.fire({
                        icon: 'success',
                        title: 'Cancel Requested',
                        text: 'Your cancellation request has been submitted successfully!'
                    });
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .catch((error) => {
                console.error('Fetch Error:', error);
            });
        }
    });
}
function requestReturn(oId){
    swal.fire({
        title: 'Reason for Return:',
        input: 'text',
        showCancelButton: true,
        confirmButtonText: 'Submit',
        cancelButtonText: 'Cancel',
        inputValidator: (value) => {
            if (!value) {
                return 'Please enter something!';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            const reason = result.value;
            fetch('/return', {
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    oId,
                    reason
                })
            })
            .then((response) => {
                if (response.ok) {
                    swal.fire({
                        icon: 'success',
                        title: 'Return Requested',
                        text: 'Your Return request has been submitted successfully!'
                    });
                    location.reload()
                    return response.json();
                   ;
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .catch((error) => {
                console.error('Fetch Error:', error);
            });
        }
    });

}

function statusReturn(status) {
    
    if (status === 'Pending') {
        swal.fire({
            icon: 'info',
            title: 'Return Request pending'
        });
    } else if (status === 'Rejected') {
        swal.fire({
            icon: 'error',
            title: 'Return Request Rejected'
        });
    } else if (status === 'Accepted') {
        swal.fire({
            icon: 'success',
            title: 'Return Request Accepted!!! Refund initiated,chech your wallet',
            showCancelButton: true,
            confirmButtonText: 'OK'
        })
    } else {
        swal.fire({
            icon: 'warning',
            title: 'Unknown status: ' + request.status
        });
    }
}


       </script>
    
<%-include('footer')-%>