<%- include('header') -%>

<body style="background:url(/public/assets/images/banner/loginbanner.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="container p-5">
        <div class="card mb-3 p-5" id="card-register">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <form action="/register" method="POST" enctype="application/json">
                            <div class="container p-4 form-group">
                                <h2 class="text-center">Register Account</h2>

                                <!-- Full Name -->
                                <label class="form-label">Enter your full name</label>
                                <input type="text" name="name" id="name" class="form-control mb-2" onblur="validateName()" required>
                                <p id="nameError" class="text-danger"></p>
                                <% if (errors && errors.some(error => error.path === 'name')) { %>
                                    <% errors.filter(error => error.path === 'name').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>

                                <!-- Email -->
                                <label class="form-label">Enter your email</label>
                                <input type="email" name="email" id="email" class="form-control mb-2" onblur="validateEmail()" required>
                                <p id="emailError" class="text-danger"></p>
                                <% if (errors && errors.some(error => error.path === 'email')) { %>
                                    <% errors.filter(error => error.path === 'email').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>

                                <!-- Mobile Number -->
                                <label class="form-label">Mobile Number</label>
                                
                                <input type="tel" name="mobile" id="mobile" class="form-control mb-2" onblur="validateMobile()" required>
                                <% if (errors && errors.some(error => error.path === 'mobile')) { %>
                                    <% errors.filter(error => error.path === 'mobile').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>
                                <p id="mobileError" class="text-danger"></p>

                                <!-- Password -->
                                <label class="form-label">Set Password</label>
                                <div class="d-flex form-group">
                                    <input type="password" name="password" id="password" class="form-control mb-2 me-1" onblur="validatePassword()" required>
                                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                                </div>
                                 <!-- Password Error Message -->
                                 <% if (errors && errors.some(error => error.path === 'password')) { %>
                                    <% errors.filter(error => error.path === 'password').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>
                                <p id="passwordError" class="text-danger"></p>
                                
                                <!-- Confirm Password -->
                                <label class="form-label">Confirm Password</label>
                                <div class="d-flex form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control mb-2 me-1" onblur="validateConfirmPassword()" required>
                                    <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
                                </div>
                                <p id="confirmPasswordError" class="text-danger"></p>
                               


                                <!-- Agreement -->
                                <div class="d-flex justify-content-start">
                                    <input type="checkbox" style="width: 20px;" id="checkbox">I agree all statements in <a href="#">Terms of service</a>
                                </div>

                                <!-- Buttons -->
                                <button type="submit" class="btn btn-info rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2">Sign up</button>
                                <a href="/" class="btn btn-success text-white rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2">Existing User? Log in</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/public/assets/images/The Mood Guide.jpeg" class="img-fluid rounded-start" alt="image">
                </div>
            </div>
        </div>
    </div>
</body>

<!-- password visibility toggle -->
<script>
    // Toggle Password Visibility
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', function() {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('bi-eye');
    });

    // Toggle Confirm Password Visibility
    const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
    const confirmPassword = document.querySelector('#confirmPassword');
    toggleConfirmPassword.addEventListener('click', function() {
        const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPassword.setAttribute('type', type);
        this.classList.toggle('bi-eye');
    });

    
    // Client-side validation functions
    function validateName() {
        const nameInput = document.getElementById('name');
        const nameError = document.getElementById('nameError');
        if (!nameInput.value.trim()) {
            nameError.textContent = 'Name is required';
        } else {
            nameError.textContent = '';
        }
    }

    function validateEmail() {
        const emailInput = document.getElementById('email');
        const emailError = document.getElementById('emailError');
        if (!emailInput.value.trim()) {
            emailError.textContent = 'Email is required';
        } else if (!/^\S+@\S+\.\S+$/.test(emailInput.value.trim())) {
            emailError.textContent = 'Invalid email format';
        } else {
            emailError.textContent = '';
        }
    }

    function validateMobile() {
        const mobileInput = document.getElementById('mobile');
        const mobileError = document.getElementById('mobileError');
        if (!mobileInput.value.trim()) {
            mobileError.textContent = 'Mobile number is required';
        } else if (!/^\d{10}$/.test(mobileInput.value.trim())) {
            mobileError.textContent = 'Mobile number must be 10 digits long';
        } else {
            mobileError.textContent = '';
        }
    }

    function validatePassword() {
        const passwordInput = document.getElementById('password');
        const passwordError = document.getElementById('passwordError');
        if (!passwordInput.value.trim()) {
            passwordError.textContent = 'Password is required';
        } else if (passwordInput.value.trim().length < 6 || passwordInput.value.trim().length > 15) {
            passwordError.textContent = 'Password must be between 6 and 15 characters';
        } else {
            passwordError.textContent = '';
        }
    }

    function validateConfirmPassword() {
        const confirmPasswordInput = document.getElementById('confirmPassword');
        const confirmPasswordError = document.getElementById('confirmPasswordError');
        const passwordInput = document.getElementById('password');
        if (!confirmPasswordInput.value.trim()) {
            confirmPasswordError.textContent = 'Confirm password is required';
        } else if (confirmPasswordInput.value.trim() !== passwordInput.value.trim()) {
            confirmPasswordError.textContent = 'Passwords do not match';
        } else {
            confirmPasswordError.textContent = '';
        }
    }
</script>

<%- include('footer') -%>
