<%- include('header') -%>

<body style="background:url(/public/assets/images/banner/loginbanner.jpg);background-repeat: no-repeat;background-size: cover;">
    <div class="container p-5">
        <div class="card mb-3 p-5" id="card-register">
            <div class="row">
                <div class="col-md-6">
                    <div class="card-body">
                        <form action="/register" method="POST" enctype="application/json">
                            <div class="container p-4 form-group">
                                <h2 class="text-center">Register Account</h2>

                                <!-- Full Name -->
                                <label class="form-label">Enter your full name</label>
                                <input type="text" name="name" class="form-control mb-2">
                                <% if (errors && errors.some(error => error.path === 'name')) { %>
                                    <% errors.filter(error => error.path === 'name').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>

                                <!-- Email -->
                                <label class="form-label">Enter your email</label>
                                <input type="email" name="email" class="form-control mb-2">
                                <% if (errors && errors.some(error => error.path === 'email')) { %>
                                    <% errors.filter(error => error.path === 'email').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>

                                <!-- Mobile Number -->
                                <label class="form-label">Mobile Number</label>
                                <input type="tel" name="mobile" class="form-control mb-2">
                                <% if (errors && errors.some(error => error.path === 'mobile')) { %>
                                    <% errors.filter(error => error.path === 'mobile').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>

                                <!-- Password -->
                                <label class="form-label">Set Password</label>
                                <div class="d-flex form-group">
                                    <input type="password" name="password" id="password" class="form-control mb-2 me-1">
                                    <i class="bi bi-eye-slash" id="togglePassword"></i>
                                </div>
                                
                                <!-- Confirm Password -->
                                <label class="form-label">Confirm Password</label>
                                <div class="d-flex form-group">
                                    <input type="password" name="confirmPassword" id="confirmPassword" class="form-control mb-2 me-1">
                                    <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
                                </div>

                                <!-- Password Error Message -->
                                <% if (errors && errors.some(error => error.path === 'password')) { %>
                                    <% errors.filter(error => error.path === 'password').forEach(error => { %>
                                        <p class="text-danger"><%= error.msg %></p>
                                    <% }); %>
                                <% } %>


                                <!-- Agreement -->
                                <div class="d-flex justify-content-start">
                                    <input type="checkbox" style="width: 20px;" id="checkbox">I agree all statements in <a href="#">Terms of service</a>
                                </div>

                                <!-- Buttons -->
                                <button type="submit" class="btn btn-info rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2">Sign up</button>
                                <a href="/" class="btn btn-success text-white rounded-pill ps-4 pe-4 pt-2 pb-2 mt-2">Existing User? Log in</a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/public/assets/images/The Mood Guide.jpeg" class="img-fluid rounded-start" alt="image">
                </div>
            </div>
        </div>
    </div>
</body>

<!-- password visibility toggle -->
<script>
    // Toggle Password Visibility
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');
    togglePassword.addEventListener('click', function() {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('bi-eye');
    });

    // Toggle Confirm Password Visibility
    const toggleConfirmPassword = document.querySelector('#toggleConfirmPassword');
    const confirmPassword = document.querySelector('#confirmPassword');
    toggleConfirmPassword.addEventListener('click', function() {
        const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmPassword.setAttribute('type', type);
        this.classList.toggle('bi-eye');
    });
</script>

<%- include('footer') -%>
