<%-include('adminheader')-%>
<body>
    
    <main class="main-wrap">
        <header class="main-header navbar">
           
            <div class="col-nav ms-auto">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                 
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                   
                    <li class="dropdown nav-item">
                        <a class="dropdown-item text-danger" href="/admin/logout"><i
                            class="material-icons md-exit_to_app"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Users list</h2>
                
            </div>
            <div class="card mb-4">
              
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Mobile</th>

                                <th>verified / not</th>
                                <th >Actions</th>
                                
                            </tr>
                            <%
                            if(users.length > 0) {
                                for(let i=0; i<users.length; i++) { %>
                                    <tr>
                                        <td width="20%"><%= users[i].name %></td>
                                        <td width="20%"><%= users[i].email %></td>
                                        <td width="20%"><%= users[i].mobile %></td>
                                        <td width="20%"><%if(users[i].is_varified){
                                            %>
                                            <p>Not verified</p>
                                       <% }  else{%>
                                       <p> verified</p> <%}%>
                                    </td>
                                    <td width="60%">
                                        <button onclick="blockUser('<%= users[i]._id %>')" id="blockButton_<%= users[i]._id %>"
                                           class="btn <%= users[i].isBlocked ?  'btn-success' : 'btn-danger' %>" style="width: 90px;">
                                           
                                           <%= users[i].isBlocked ? 'Unblock' : 'Block' %>
                                        </button>
                                     </td>
                                    </tr>
                            <%
                                }
                            } else { %>
                                <tr>
                                    <td colspan="4">User Not Found</td>
                                </tr>
                            <%
                            }
                            %>
                            
                            
                            </table>
                    </div>
                </div> 
            </div> 
           
        </section> 
       
    </main>

    <!-- Main Script -->
    <script src="/public/assets/js/main.js" type="text/javascript"></script>


 <script src="/public/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/public/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/public/assets/js/vendor/select2.min.js"></script>
    <script src="/public/assets/js/vendor/perfect-scrollbar.js"></script>
    <script src="/public/assets/js/vendor/jquery.fullscreen.min.js"></script>

    <script>
      

       async function blockUser(id) {
            let response = await fetch('/admin/blockUser', {
               method: 'POST',
               headers: {
                  'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                  id
               })
            })
            if (response.status === 200) {
               document.getElementById('blockButton_' + id).className = 'btn btn-danger'
               document.getElementById('blockButton_' + id).innerHTML = 'Block'
            } else if (response.status === 201) {
               document.getElementById('blockButton_' + id).className = 'btn btn-success'
               document.getElementById('blockButton_' + id).innerHTML = 'Unblock'
            } else if (response.status === 402) {
               window.location.reload()
            }
         }
    </script>
<%-include('adminfooter')%>