<%-include('header')-%>

  
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Product Details </h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/home">Home</a></li>
                                    <li class="active" aria-current="page">Product Details </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="product-details-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="product-details-gallery-area" data-aos="fade-up" data-aos-delay="0">
                        
                        <div class="product-large-image product-large-image-horaizontal swiper-container">
                            <div class="swiper-wrapper">
                                <%pro.images.forEach(image => { %>
                        
                                    <div class="product-image-large-image swiper-slide zoom-image-hover img-responsive">
                                        <img src="../uploads/productImages/<%=image%>" alt="">
                                    </div>
                                  <% }) %>
                                
                               
                            </div>
                        </div>
                       
                        <div
                            class="product-image-thumb product-image-thumb-horizontal swiper-container pos-relative mt-5">
                            <div class="swiper-wrapper">
                               
                                <%pro.images.forEach(image => { %>
                                    
                                        <div class="product-image-thumb-single swiper-slide">
                                    <img class="img-fluid" src="../uploads/productImages/<%=image%>"  alt="">
                                    </div>
                                        <% }) %>
                                       
                                            
                                          
                                
                                
                            </div>
                           
                            <div class="gallery-thumb-arrow swiper-button-next"></div>
                            <div class="gallery-thumb-arrow swiper-button-prev"></div>
                        </div>
                      
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6">
                    <div class="product-details-content-area product-details--golden" data-aos="fade-up"
                        data-aos-delay="200">
                        
                        <div class="product-details-text">
                            <h4 class="title"><%=pro.name%></h4>
                            <div class="d-flex align-items-center">
                                <ul class="review-star">
                                    <% if (rating <= 5) { %>
                                        <% for (let i = 1; i <= 5; i++) { %>
                                            <% if (i <= rating) { %>
                                                <% if (rating === 1) { %>
                                                    <li class="fill" style="color: red;"><i class="ion-android-star"></i></li>
                                                <% } else if (rating === 2) { %>
                                                    <li class="fill" style="color: orange;"><i class="ion-android-star"></i></li>
                                                <% } else if (rating === 3) { %>
                                                    <li class="fill" style="color: yellow;"><i class="ion-android-star"></i></li>
                                                <% } else { %>
                                                    <li class="fill" style="color: rgb(23, 122, 10);"><i class="ion-android-star"></i></li>
                                                <% } %>
                                            <% } else { %>
                                                <li class="fill" style="color: gray;"><i class="ion-android-star"></i></li>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </ul>
                                <a href="#description" class="customer-review ml-2">(customer review )</a>
                            </div>
                            <div class="price">Rs.<%=pro.price%></div>
                            <p><%=pro.description%></p>
                        </div> 
                        <div class="product-details-variable">
                            <h4 class="title">Available Options</h4>
                           
                            <%if(pro.countInStock===0){%>
                                <h5 class="text-danger">Out Of Stock</h5>
                            <%}else{%>
                            <div class="variable-single-item">
                                <div class="product-stock"> <span class="product-stock-in"><i
                                            class="ion-checkmark-circled"></i></span> <%=pro.countInStock%> IN STOCK</div>
                            </div>
                          
                            <div class="d-flex align-items-center ">
                                 <div class="detail-qty radius">
                                    
                                            <input type="number" id="quantity" value="1" min="1" max="5" >
                                        </div>
                                        
                                <div class="product-add-to-cart-btn">
                                    <a href="#" onclick="addProductCart('<%=pro._id%>')" class="btn btn-block btn-lg btn-black-default-hover"
                                        >Add To Cart</a>
                                        <!-- <a href="#" class="btn btn-block btn-lg btn-black-default-hover"
                                        data-bs-toggle="modal" data-bs-target="#modalAddcart">Buy Now</a> -->
                                </div>
                            </div>
                            
                           
                            <div class="product-details-meta mb-20">
                                <br>
                                <%if (wish != null && wish.product != null ) { 
                                    if (wish.product.length > 0 && wish.product.some(wishItem => wishItem.toString() === pro._id.toString())) { 
                                %>
                                        <a href="#" onclick="removewishlist('<%= pro._id %>')"><i class="fa-solid fa-heart text-danger" id="heart"></i> Add to wishlist</a>
                                <% 
                                    } 
                                 else { 
                                %>
                                    <a href="#" onclick="addtowishlist('<%= pro._id %>')" id="add-to-wishlist-<%=pro._id%>"><i class="fa-solid fa-heart" id="wishlist-<%=pro._id%>"></i>Add to wislist</a>
                                <% 
                                } }%>
                               
                            </div> 
                        </div> 
                    <%}%>
                       
                        <div class="product-details-catagory mb-2">
                            <span class="title">CATEGORY:</span>
                            <span class="title"><%=pro.category.name%></span>
                        
                        </div> 
                       
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="product-details-content-tab-section section-top-gap-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="product-details-content-tab-wrapper" data-aos="fade-up" data-aos-delay="0">

                       
                        <ul class="nav tablist product-details-content-tab-btn d-flex justify-content-center">
                            <li><a class="nav-link active" data-bs-toggle="tab" href="#description">
                                   description
                                </a></li>
                              
                           
                                <%if(pro.review!==null){%>
                            <li><a class="nav-link" data-bs-toggle="tab" href="#review">
                                    Reviews (<%=pro.review.length%>)
                                </a></li>
                            <%}else{%>
                                <li><a class="nav-link" data-bs-toggle="tab" href="#review">
                                    Reviews (0)
                                </a></li>
                            <%}%>

                        </ul> 
                        
                        
                        <div class="product-details-content-tab">
                            <div class="tab-content">
                               
                                

                                <div class="tab-pane" id="review">
                                    <div class="single-tab-content-item">
                                       
                                        <ul class="comment">
                                            
                                             <%if(pro.review!==null){%>
                                                <%if(pro.review.length>0){pro.review.forEach((review)=>{%>
                                                    <li class="comment-list"></li>
                                                <div class="comment-wrapper">
                                                   
                                                    <div class="comment-content">
                                                        <div class="comment-content-top ">
                                                            <div class="comment-content-left">
                                                                <h6 class="comment-name"><%=review.user.name%></h6>
                                                                <ul class="review-star">
                                                                    <% if (review.rating <= 5) { %>
                                                                        <% for (let i = 1; i <= 5; i++) { %>
                                                                            <% if (i <= review.rating) { %>
                                                                                <% if (review.rating === 1) { %>
                                                                                    <li class="fill" style="color: red;"><i class="ion-android-star"></i></li>
                                                                                <% } else if (review.rating === 2) { %>
                                                                                    <li class="fill" style="color: orange;"><i class="ion-android-star"></i></li>
                                                                                <% } else if (review.rating === 3) { %>
                                                                                    <li class="fill" style="color: yellow;"><i class="ion-android-star"></i></li>
                                                                                <% } else { %>
                                                                                    <li class="fill" style="color: rgb(23, 122, 10);"><i class="ion-android-star"></i></li>
                                                                                <% } %>
                                                                            <% } else { %>
                                                                                <li class="fill" style="color: gray;"><i class="ion-android-star"></i></li>
                                                                            <% } %>
                                                                        <% } %>
                                                                    <% } %>
                                                                    
                                                                </ul>
                                                            </div>
                                                            
                                                        </div>

                                                        <div class="para-content">
                                                            <p><%=review.reviewdescription%> </p>
                                                        </div>
                                                        <!-- <div class="comment-content-right">
                                                            <a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                        </div> -->
                                                    </div>
                                                </div>
                                            </li>
                                                <%})}}else{%>
                                                    <h3>No ratings yet.</h3>
                                                
<%}%>
                                        </ul>

                                            
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active" id="description">
                                    <div class="single-tab-content-item">
                                        <h3><%=pro.description%></h3>
                                    </div>
                                </div> 
                                </div> 
                            </div>
                        </div> 

                    </div>
                </div>
            </div>
        </div>
    </div> 
    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">

            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
              
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="/myorder">Delivery Information</a></li>

                                    <li><a href="/contact-us">Contact</a></li>
                                    <li><a href="/myorder">Returns</a></li>
                                </ul>
                            </div>
                           
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="/userAc">My account</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>

                                    <li><a href="/myorder">Order History</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="/shop?category=face">Face</a></li>
                                    <li><a href="/shop?category=hair">Hair</a></li>
                                    <li><a href="/shop?category=body">Body</a></li>
                                   
                                </ul>
                            </div>
                          
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p class="text-light">We are a team of  enterpreneurs that create high quality products.</p>

                                    <address class="address">
                                        <span class="text-light">Address: NYRA,NYRA bulding ,mumbai-707865 90785643432.</span>
                                        <span class="text-light">Email: nyra@gmail.com</span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-12  mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
          
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text text-light">&copy; 2024 <a href="index.html">NYRA</a>.

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </footer>
    <script src="/public/assets/js/vendor/vendor.min.js"></script>
    <script src="/public/assets/js/plugins/plugins.min.js"></script>

    <script src="/public/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function addProductCart(productId) {
            var quantity = document.getElementById("quantity").value;
          
            if(quantity<0){
                Swal.fire({
                title: 'error',
                text: 'Minimum quantity per person for this product has been reached',
                icon: 'error',
                showConfirmButton: true
            }); 

            }
            if(quantity<=5){
    try {
        let res = await fetch('/addtocartIn', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productId,quantity
            })
        });

        if (res.status === 400) {
            await Swal.fire({
                title: 'Error',
                text: 'Maximum quantity per person for this product has been reached',
                icon: 'error',
                showConfirmButton: true
            });
            
        }
        else if (res.status === 200) { 
            await Swal.fire({
                title: 'success',
                text: 'Product add to cart sucessfully',
                icon: 'success',
                showConfirmButton: true
            }); 
        }
    } catch (error) {
        console.error('Error adding product to cart:', error);
       
    }
    }else{
        Swal.fire({
                title: 'error',
                text: 'Maximum quantity per person for this product has been reached',
                icon: 'error',
                showConfirmButton: true
            }); 
    }
}
     
async function updateQty(productId,stock, current, need) {
        const verify = (need === 'sub') ? true : (parseInt(stock) > parseInt(current))
        if (verify) {
            let res = await fetch('/update-cart-quantity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    productId,
                    need
                })

            });
            if (res.status === 200) {
                location.reload()
            }
            if(res.status===400){
                await Swal.fire({
                title: 'Error',
                text: 'Maximum quantity per person for this product has been reached',
                icon: 'error',
                showConfirmButton: true
            });
            }
        } 
        else {
            
            
            await Swal.fire({
                title: 'Error',
                text: 'Stock limit exceeded .',
                icon: 'Sorry',
                showConfirmButton: true
            });
            window.location.reload();
        }
    }

    async function addtowishlist(productid) {
    try {
        const response = await fetch(`/addToWishlist?id=${productid}`);
        if (response.ok) {
            const Toast = Swal.mixin({
  toast: true,
  position: "bottom", 
  showConfirmButton: false,
  timer: 3000,
  timerProgressBar: true,
  background:"black",
  color:"white",
  didOpen: (toast) => {
    toast.addEventListener('mouseenter', Swal.stopTimer); 
    toast.addEventListener('mouseleave', Swal.resumeTimer); 
  }
});

Toast.fire({
  icon: "success",
  title: "Added to cart"
});
            
            const wishlistLink = document.getElementById(`add-to-wishlist-${productid}`);
            wishlistLink.setAttribute('onclick', `removewishlist('${productid}')`);
            wishlistLink.innerHTML = `<i class="fa-solid fa-heart text-danger" id="heart-${productid}"></i>`;
            
        } else {
            throw new Error('Failed to add to wishlist');
        }
    } catch (error) {
        console.error('Error:', error.message);
        await Swal.fire({
            title: 'Error',
            text: 'Failed to add to wishlist',
            icon: 'error',
            showConfirmButton: true
        });
    }
}


async function removewishlist(productid) {
    try {
        const response = await fetch(`/removeWishlist?id=${productid}`);
       
        if (response.ok) {
            
           
            await Swal.fire({
                title: 'removed ',
                text: 'removed from wishlist',
                icon: 'success',
                showConfirmButton: true
            });
            location.reload();
            
        } else {
            
            throw new Error('Failed to add to wishlist');
        }
    } catch (error) {
        console.error('Error:', error.message);
        await Swal.fire({
            title: 'Error',
            text: 'Failed to add to wishlist',
            icon: 'error',
            showConfirmButton: true
        });
    }
}


    
        </script>
</body>


</html>