<%-include('header')-%>

<body>
   
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        
                        <h3 class="breadcrumb-title">Wishlist</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="/wishlist">wishlist</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="shop-section">
        <div class="container">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-lg-12">
                   
                    <div class="shop-sort-section">
                        <div class="container">
                            <div class="row">
                               
                                <div class="sort-box d-flex justify-content-between align-items-md-center align-items-start flex-md-row flex-column"
                                    data-aos="fade-up" data-aos-delay="0">



                                   



                                </div> 
                            </div>
                        </div>
                    </div> 
                    <div class="sort-product-tab-wrapper">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="tab-content">
                                        
                                        <div class="tab-pane active show sort-layout-single" id="layout-4-grid">
                                            <div class="row">
                                                <%  if(wish!==null){if( wish !=='undefined' && wish.product.length > 0) {
                                                    for(let i=0; i<wish.product.length; i++) { %>
                                                <div class="col-xl-3 col-lg-4 col-sm-6 col-12">
                                                  
                                                    
                                                  
                                                    <div class="product-default-single-item product-color--golden"
                                                        data-aos="fade-up" data-aos-delay="0">
                                                        <div class="image-box">
                                                            <a href="/productdetails?id=<%=wish.product[i]._id %>" class="image-link">
                                                <img src="/uploads/productImages/<%=wish.product[i].images[0]%>" alt="" style="width: 270px; margin-right: 30px;">
                                                <img src="/uploads/productImages/<%=wish.product[i].images[1]%>" alt="" style="width: 270px; margin-right: 30px;">
                                            </a>
                                                            <div class="action-link">
                                                                <div class="action-link-left">
                                                                    <a href='#' onclick="addProductCart('<%=wish.product[i]._id%>')">Add to Cart</a>
                                                                </div>
                                                                <div class="action-link-right">
                                                                    <a href="#" data-bs-toggle="modal"
                                                                        data-bs-target="#modalQuickview"><i
                                                                            class="icon-magnifier"></i></a>
                                                                           
                                                        <a href="#" onclick="removewishlist('<%= wish.product[i]._id %>')"><i class="fa-solid fa-heart text-danger" id="heart"></i></a>

                                                                    <a href="#"><i
                                                                            class="icon-shuffle"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="content">
                                                            <div class="content-left">
                                                                <h6 class="title"><a
                                                                        href="#"><%=wish.product[i].name%></a></h6>
                                                                <ul class="review-star">
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="fill"><i class="ion-android-star"></i>
                                                                    </li>
                                                                    <li class="empty"><i class="ion-android-star"></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                            <div class="content-right">
                                                                <span class="price"><%if(wish.product[i].discountPrice>0){%>
                                            <del>₹<%= wish.product[i].price %></del> ₹<%= wish.product[i].price -wish.product[i].discountPrice %>
                                            <%}else{%>
                                                ₹<%= wish.product[i].price%>
                                            <%}%></span>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    
                                                    
                                                </div>
                                                <% }}} %>
                                
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <% if (totalPage && page) { %>
                    <div class="page-pagination text-center" data-aos="fade-up" data-aos-delay="0">
                        <ul>
                            <% if (page > 1) { %>
                                <li><a href="/wishlist?page=<%=page-1%>"><i class="ion-ios-skipforward"></i></a></li>
                            <% } %>
                            <% for (let i = Math.max(1, page - 2); i <= Math.min(page + 2, totalPage); i++) { %>
                                <li><a href="/wishlist?page=<%=i%>"><%=i%></a></li>
                            <% } %>
                            <% if (page < totalPage) { %>
                                <li><a href="/wishlist?page=<%=page+1%>"><i class="ion-ios-skipforward"></i></a></li>
                            <% } %>
                        </ul>
                    </div> 
                <% } %> 
                </div> 
            </div>
        </div>
    </div> <

    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">

            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
              
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="/myorder">Delivery Information</a></li>

                                    <li><a href="/contact-us">Contact</a></li>
                                    <li><a href="/myorder">Returns</a></li>
                                </ul>
                            </div>
                           
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="/userAc">My account</a></li>
                                    <li><a href="/wishlist">Wishlist</a></li>

                                    <li><a href="/myorder">Order History</a></li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="/shop?category=face">Face</a></li>
                                    <li><a href="/shop?category=hair">Hair</a></li>
                                    <li><a href="/shop?category=body">Body</a></li>
                                   
                                </ul>
                            </div>
                          
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                           
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p class="text-light">We are a team of  enterpreneurs that create high quality products.</p>

                                    <address class="address">
                                        <span class="text-light">Address: NYRA,NYRA bulding ,mumbai-707865 90785643432.</span>
                                        <span class="text-light">Email: nyra@gmail.com</span>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-12  mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
          
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text text-light">&copy; 2024 <a href="index.html">NYRA</a>.

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </footer>
    <script src="/public/assets/js/vendor/vendor.min.js"></script>
    <script src="/public/assets/js/plugins/plugins.min.js"></script>

   
    <script src="/public/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>

        async function addtowishlist(productid) {
    try {
        const response = await fetch(`/addToWishlist?id=${productid}`);
       
        if (response.ok) {
            
            
            await Swal.fire({
                title: 'Success',
                text: 'Added to wishlist',
                icon: 'success',
                showConfirmButton: true
            });
            location.reload();
            
        } else {
            
            throw new Error('Failed to add to wishlist');
        }
    } catch (error) {
        console.error('Error:', error.message);
        await Swal.fire({
            title: 'Error',
            text: 'Failed to add to wishlist',
            icon: 'error',
            showConfirmButton: true
        });
    }
}


async function removewishlist(productid) {
    try {
        const response = await fetch(`/removeWishlist?id=${productid}`);
       
        if (response.ok) {
            
           
            await Swal.fire({
                title: 'removed ',
                text: 'removed from wishlist',
                icon: 'success',
                showConfirmButton: true
            });
            location.reload();
            
        } else {
            
            throw new Error('Failed to add to wishlist');
        }
    } catch (error) {
        console.error('Error:', error.message);
        await Swal.fire({
            title: 'Error',
            text: 'Failed to add to wishlist',
            icon: 'error',
            showConfirmButton: true
        });
    }
}


        
        async function addProductCart(productId) {
    try {
        let res = await fetch('/add-to-cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                productId
            })
        });

        if (res.status === 400) {
            await Swal.fire({
                title: 'Error',
                text: 'Maximum quantity per person for this product has been reached',
                icon: 'error',
                showConfirmButton: true
            });
            
        }
        else if (res.status === 200) { 
            window.location.href = '/cart'; 
        }
    } catch (error) {
        console.error('Error adding product to cart:', error);
       
    }
}
     
            
</script>
</body>
</html>